.project{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.project img{
    width: 400px;
    align-self: center;
}

.project.inactive {
    opacity: 0.5;
}

.project h1, .project h2{
    text-shadow: 0px 0px 1px black;
    margin: 2.5px;
    text-align: center;
}

.project h1{
    letter-spacing: 1px;
    font-weight: 200;
}

.project h2{
    font-size: 15px;
    font-weight: 300;
}

.project p{
    text-shadow: 0px 0px 1px #333B;
    font-size: 10px;
    white-space: pre-line;
}

.project .url-links{
    text-align: right;
    margin: 5px 0px;
}

.project button{
    background-color: #FFFA;
    color: #333;
    border-radius: 15px;
    border: 1px solid #EEE;
    margin: 0px 5px;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 15px;
    padding: 5px 10px;
}

.project button:hover{
    cursor: pointer;
    background-color: #FFFF;
}
