.misc{
  h1, h2, h3{
     font-family: 'Open Sans', sans-serif;
     text-shadow: 0px 0px 1px black;
 }

 h1{
   margin: 0 0 1.3vw;
   font-size: 1.5vw;
   letter-spacing: 0.25vw;
   font-weight: 200;
   text-transform: uppercase;
 }
}

.about {
    white-space: pre-line;

   h2{
       font-size: 1vw;
       margin: 5px 0px;
   }

   p, li{
       text-shadow: 0px 0px 1px #333B;
       font-size: 0.8vw;
       padding-left: 7px;
       font-weight: 100;
       margin: 2px 0px;
       text-align: justify;
   }

   strong{
       text-shadow: 0px 0px 1px black;
   }

}

.tools {
  table{
    border-collapse: collapse;
  }
  td, th{
      text-shadow: 0px 0px 1px #333B;
      font-size: 1vw;
      padding: 5px;
      border: 1px solid lightgrey;
  }
  td:nth-child(1){
      padding: 10px 5px;
  }
  td:nth-child(2){
      font-size: 0.8vw;
  }
  th{
      font-weight: 900;
      letter-spacing: 1px;
  }
}

.experience{
  .experience-position{
    margin-bottom: 1vw;
    text-shadow: 0px 0px 1px black;

    p{
      font-size: 0.7vw;
      margin: 0;
    }

    .position-header{
      display: flex;
      justify-content: space-between;
    }

    .position-date{
      font-weight: 300;
    }

    .position-company{
      font-size: 0.9vw;
      font-weight: 600;
    }

    .position-role{
      font-weight: 600;
    }

    .position-tech{
      margin-bottom: 0.35vw;
    }

    .position-description{
      margin-left: 0.35vw;
    }

  }

}
